<div class="speaker">
  <img src="{{img}}" class="speaker-img" alt="{{name}}" />
  <div class="speaker-details">
    <h4 class="speaker-name">{{name}}
    <a href="https://twitter.com/{{twitter}}">
      <svg class="icon">
        <use xmlns:xdivnk="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    </h4>
    <p class="speaker-title">
      {{title}}
    </p>
     <a href="#tickets" class="btn btn-large">Register now</a>
  </div>
</div>
