<li class="speaker">
  <img src="{{img}}" class="speaker-img mini" alt="{{name}}" />
  <div class="speaker-details large">
    <h4 class="speaker-name">{{{additional.title}}}
    </h4>
    <p class="speaker-title">
      <em>with {{name}}</em><br>
      {{title}}
    </p>
  </div>
  <a href="/workshops/{{id}}" class="btn btn-large">Details</a>
</li>
