<li class="speaker">
  <img src="{{img}}" class="speaker-img" alt="{{name}}" />
  <div class="speaker-details">
    <h4 class="speaker-name">{{name}}
    <a href="https://twitter.com/{{twitter}}">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    </h4>
    <p class="speaker-title">
      {{title}}
    </p>
    <h4 class="talk-info">
      {{#if talk.title }}<a href="#{{id}}">{{talk.title}}</a>
      {{else}}talk tba
      {{/if}}
      {{#if additional}}
      <br>
      {{{additional.title}}}
      {{/if}}
    </h4>
  </div>
</li>
