<div class="ticket-area" id="schedule">
  <div class="box">
    <h2>Schedule</h2>
    <ul class="schedule">
    {{#each schedule-2018}}
      <li class="schedule-item">
        <time class="scheduled-time">{{time}}</time>
        {{#if title}}
        <p class="schedule-title">{{{title}}}</p>
        {{/if}}
        {{#if speaker}}
        {{#select speaker}}
        <div class="schedule-talk">
          <img class="schedule-speaker" src="{{img}}" alt="{{name}}">
          <div class="schedule-talk-details">
            <p class="schedule-speaker-name"><a href="/speakers#{{id}}">{{name}}</a> will talk on</p>
            {{#if talk.title}}
            <p class="schedule-session">{{talk.title}}</p>
            {{else}}
            <p class="schedule-session">tba</p>
            {{/if}}
          </div>
        </div>
        {{/select}}
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>
