<blockquote class="quote tweet">
  <svg class="quote-decorator"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>

  <div class="box">
    <p class="quote-content">
      {{{quote}}}
    </p>
    <a class="quote-link" href="{{url}}">
      <footer class="quote-footer">
        <img class="quote-img" src="{{img}}" alt="{{alt}}">
        <p>
          {{cite}}
        </p>
      </footer>
    </a>
  </box>
</blockquote>
