<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}
      {{title}} | Script'18
      {{else}}
        Script'18 - The JavaScript conference this city needs
      {{/if}}
    </title>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#2F2F2C">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#2F2F2C">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Raleway:700,400" rel="stylesheet">
    <link rel="stylesheet" href="{{{ asset '/styles/main.css' }}}" charset="utf-8">
    <script src="https://js.tito.io/v1" async></script>
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="JavaScript, React, conference, AngularJS, JS, Ember, Node, Node.js, console.log, Austria">
    <meta name="description" content="Script'18 is a one-day, curated and hand-crafted JavaScript conference for the community.">
    <meta property="og:url" content="https://scriptconf.org/{{path}}"/>
    {{#if title}}
    <meta name="twitter:title" content="{{title}} | Script'18">
    <meta property="og:title" content="{{title}} | Script'18"/>
    {{else}}
    <meta name="twitter:title" content="Script'18 | JavaScript event in Linz, Austria">
    <meta property="og:title" content="Script'18 | JavaScript event in Linz, Austria"/>
    {{/if}}
    <meta property="og:site_name" content="Script'18 | JavaScript event in Linz, Austria"/>
    <meta property="og:locale" content="en_UK"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://scriptconf.org/assets/images/opengraph.jpg"/>
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="420"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@scriptconf">
    <meta name="twitter:image" content="https://scriptconf.org/assets/images/opengraph.jpg">
  </head>
  <body>

    {{> 2018/menu}}

    {{#block 'masthead'}}
    {{/block}}

    {{#block 'contents'}}
    {{{contents}}}
    {{/block}}
    <div class="newsletter">
    {{> mailchimp}}
    </div>

    {{> 2018/footer}}

    {{> icons}}
  </body>
</html>
